@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: rgba(255, 255, 248 0.5);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 20px;
}

.footer-col h4 {
  position: relative;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
}

.terms {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.social-links {
  display: flex;
  gap: 25px;
  margin-left: 10px;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #0a0303;
  display: block;
  transition: all 0.3s ease-in;
}

.footer-col ul li a:hover {
  color: #ee4d62;
  padding-left: 8px;
}

/* Responsive */

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
